@model IEnumerable<iTask>

@{
    ViewData["Title"] = "Explore Tasks";
}


<div class="cards" style="margin-top: 20rem">

    <div class="container">
        <div class="col-sm-3">
            <div class="card" style="height: 50rem; width: 100%"></div>
        </div>
        <div class="col-sm-8">
            <div class="row">






                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img" src="~/images/sample (4).jpg">
                                </a>
                                <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog2.jpg&quot;); opacity: 1;"></div>
                                <div class="ripple-container"></div>
                            </div>

                            <div class="card-content">
                                <h6 class="category text-success">@item.Category;</h6>

                                <h4 class="card-title">
                                    <a href="#pablo">@item.Title</a>
                                </h4>
                                <p class="card-description">
                                    @item.Description;
                                </p>
                                <div class="footer">
                                    <div class="author">
                                        <a href="#pablo">
                                            <img src="~/images/sample (3).jpg" alt="..." class="avatar img-raised">
                                            <span>@item.Owner</span>
                                        </a>
                                    </div>
                                    <div class="stats">
                                        <i class="material-icons">schedule</i> @item.Renumeration
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }












            </div>
        </div>
    </div>

</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radius)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NegotiationMarker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renumeration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTerms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverPhoto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NegotiationMarker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renumeration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTerms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverPhoto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>*@