@using Microsoft.AspNetCore.Mvc.RazorPages
@model timpossible.Services.PagedList.PaginatedList<iTask>

@{
    ViewData["Title"] = "Explore Tasks";
}
<div class="container" style="margin-bottom: 2rem; margin-top: 20rem;">

    <div class="col-sm-2 col-sm-offset-10">

        <div class="btn-group bootstrap-select">
            @*<button type="button" class="dropdown-toggle btn btn-primary btn-round" data-toggle="dropdown" role="button" title="Is great" aria-expanded="false">
                <span class="filter-option pull-left">Is great</span>&nbsp;<span class="bs-caret">
                    <span class="caret"></span>
                </span>
                <div class="ripple-container"></div>
            </button>
            <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                    <li data-original-index="1" class="disabled">
                        <a tabindex="-1" class="" data-tokens="null" role="option" href="#" aria-disabled="true" aria-selected="false">
                            <span class="text">Choose city</span><span class="material-icons  check-mark"> done </span>
                        </a>
                    </li><li data-original-index="2" class="">
                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                            <span class="text">Foobar</span><span class="material-icons  check-mark"> done </span>
                            <div class="ripple-container">
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(164, 164, 164); left: 113px; top: 1.40625px; transform: scale(25.4688);"></div>
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(255, 255, 255); left: 75px; top: 13.4063px; transform: scale(25.4688);"></div>
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(255, 255, 255); left: 124px; top: 17.4063px; transform: scale(25.4688);"></div>
                            </div>
                        </a>
                    </li><li data-original-index="3" class="selected">
                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                            <span class="text">Is great</span><span class="material-icons  check-mark"> done </span>
                            <div class="ripple-container">
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(255, 255, 255); left: 108px; top: 7.40625px; transform: scale(25.4688);"></div>
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(255, 255, 255); left: 97px; top: 9.40625px; transform: scale(25.4688);"></div>
                                <div class="ripple ripple-on ripple-out" style="background-color: rgb(255, 255, 255); left: 77px; top: 16.4063px; transform: scale(25.4688);"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>*@
            <select class="selectpicker" data-style="btn btn-primary btn-round" title="Sort By" data-size="7" onchange="window.location.href = '/Tasks?sortOrder=' + this.value;" tabindex="-98">
                <option class="bs-title-option" value="">Sort By</option>

                <option value="Title">Distance</option>
                <option value="Date">Date</option>
            </select>
        </div>


    </div>
</div>

<div class="cards">

    <div class="container">
        <div class="col-sm-3">
            <div class="card" style="height: 50rem; width: 100%">

                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["currentFilter"]">Title</a>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["currentFilter"]">Date</a>


                <div class="card-content">
                    <form action="/Tasks" method="get" id="searchForum">
                        <div class="form-group is-empty" style="width: 100%;">
                            <input type="text" id="s" name="s" class="form-control" placeholder="Search" value="@ViewData["currentFilter"]">

                        </div>
                    </form>


                    <div class="footer pull-center text-center" style="bottom: 0px; left: 0px; position: absolute; right: 0px; width: auto;">
                        <button type="submit" form="searchForum" class="btn btn-rose btn-raised btn-round" style="">
                            Update
                            <div class="ripple-container"></div>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-columns">






                @foreach (var item in Model)
                {
                    @*<div class="col-md-4" style="padding: 10px">*@
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img" src="~/images/sample (4).jpg">
                            </a>
                            <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog2.jpg&quot;); opacity: 1;"></div>
                            <div class="ripple-container"></div>
                        </div>

                        <div class="card-content">
                            <h6 class="category text-success">@item.CreationDate;</h6>

                            <h4 class="card-title">
                                <a href="#pablo">@item.Title</a>
                            </h4>
                            <p class="card-description" style="word-break: break-all">
                                @item.Description;
                            </p>
                            <div class="footer">
                                <div class="author">
                                    <a href="#pablo">
                                        @*<img src="~/images/sample (3).jpg" alt="..." class="avatar img-raised">*@
                                        <span>@item.Owner</span>
                                    </a>
                                </div>
                                <div class="stats">
                                    <i class="material-icons">attach_money</i> @item.Renumeration
                                </div>
                            </div>
                        </div>
                    </div>

                    @*</div>*@
                }












            </div>
        </div>
    </div>

</div>

<div class="container">

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="col-sm-9 col-sm-offset-3">
        <ul class="pagination" style="position: relative; left: 30%; top: 20px">
            <li>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    prev
                </a>
            </li>
            @for (int i = 1; i < Model.TotalPages + 1; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="active">
                        <a>@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(@i)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                    </li>
                }
            }

            <li>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    next
                    <div class="ripple-container"></div>
                </a>
            </li>
        </ul>
    </div>

</div>


<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });

    function redirect(dropDownValue) {
        window.location.href = '/myController/myAction/' + dropDownValue;
    }
</script>